<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">

    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <ul class="navbar-nav mr-auto">

            <li><a href="/#equipos" class="nav-link px-2 text-white" id="equipos">
                                    Equipos</a></li>
            <li><a href="#/estadios" class="nav-link px-2 text-white" id="estadios">
                                    Estadios</a></li>
            <li><a href="#/jugadores" class="nav-link px-2 text-white" id="jugadores">Jugadores</a></li>

            <li><a href="#/nuevo_estadio" class="nav-link px-2 text-white"  id="crea_estadio">Nuevo estadio</a></li>

            <li><a href="#/nuevo_equipo" class="nav-link px-2 text-white"  id="crea_equipo">Nuevo equipo</a></li>

            <li><a href="#/nuevo_jugador" class="nav-link px-2 text-white" id="crea_jugador">Nuevo jugador</a></li>

            <li><a href="/#/" type="button" id="logout" click="logout()">Logout</a></li>


        </ul>
    </div>
</nav>