<div class="login">
    <h2>Registro</h2>
    <form id="formRegistre">
        <div class="container">
            <div id="logins">
                <label for="email"><b>Username</b></label>
                <input type="text" placeholder="Enter Username" name="email" id="email" required />

                <label for="password"><b>Password</b></label>
                <input type="password" placeholder="Enter Password" name="password" id="password" required />

                <label for="nickname"> Nickname</label>
                <input type="nickname" placeholder="Enter nickname" name="nickname" id="nickname" required />

                <button type="submit" id="registro">Registrate</button>
                <label>
       
            </div>
    </form>
 </div>

<!-- <div class="cabecera">
    <h2>Validación Js</h2>
</div>
<form id="formulario" method="">

    <div class="form-control">
        <label for="usuario">Nombre de usuario</label>
                <input id="usuario" type="text">
                <p></p>
            </div>

            <div class="form-control">
                <label for="email">E-mail</label>
                <input id="email" type="email">
                <p></p>
            </div>

            <div class="form-control">
                <label for="pass">Password</label>
                <input id="pass" type="password">
                <p></p>
            </div>

            <div class="form-control">
                <label for="passConfirma">Confirmar Password</label>
                <input id="passConfirma" type="password">
                <p></p>
            </div>

            <button>Enviar</button>
    </form>
    </div> -->